<ion-grid>
  <ion-row>
    <ion-col class="ion-text-center">
      <ion-icon [name]="model?.icon ? model?.icon : 'cart-outline'"
      [color]="model?.color ? model.color: 'tertiary'"></ion-icon>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="ion-text-center">
        <ion-label>
          {{model?.title ? model.title : 'Your Cart is empty'}}
        </ion-label>
        <ion-text *ngIf="model?.subtitle">
          <p>{{model.subtitle}}</p>
        </ion-text>
    </ion-col>
  </ion-row>
</ion-grid>