<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Create Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form #f1="ngForm" (ngSubmit)="onSubmit(f1)">
    <ion-list lines="none">
      <div  class="ion-margin-bottom">
        <ion-item color="light">
          <ion-icon name="person" slot="start" color="primary"></ion-icon> 
          <ion-input
            type="text"
            name="name"
            ngModel
            #name="ngModel"
            placeholder="Name"
            required>
          </ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="!name.valid && name.touched">
          <p class="errorMsg">* Please enter your name</p>
        </ion-text>

      </div>

      <div  class="ion-margin-bottom">
        <ion-item color="light">
          <ion-icon name="mail" slot="start" color="primary"></ion-icon> 
          <ion-input
            type="email"
            name="email"
            ngModel
            email
            #emailCtrl="ngModel"
            placeholder="Email"
            required>
          </ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="!emailCtrl.valid && emailCtrl.touched">
          <p class="errorMsg">* Please enter a valid email address</p>
        </ion-text>
        
      </div>


      <div  class="ion-margin-bottom">
        <ion-item color="light">
          <ion-icon name="call" slot="start" color="primary"></ion-icon> 
          <ion-input
            type="tel"
            name="phone"
            ngModel
            #phone="ngModel"
            placeholder="Phone"
            required
            minlength="10"
            maxlength="12">
          </ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="!phone.valid && phone.touched">
          <p class="errorMsg">* Please enter a valid phone number</p>
        </ion-text>
        
      </div>


      <div  class="ion-margin-bottom">
        <ion-item color="light" >
          <ion-icon name="key" slot="start" color="primary"></ion-icon> 
          <ion-input
            type="password"
            name="password"
            ngModel
            #passwordCtrl="ngModel"
            placeholder="Password"
            required
            minlength="8">
          </ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="!passwordCtrl.valid && passwordCtrl.touched" >
          <p class="errorMsg">* Password must be of minimum 8 characters long.</p>
        </ion-text>
        
      </div>


      <div  class="ion-margin-bottom">
        <ion-item color="light">
          <ion-icon name="key" slot="start" color="primary"></ion-icon> 
          <ion-input
            type="text"
            name="c_password"
            ngModel
            #c_passwordCtrl="ngModel"
            placeholder="Confirm Password"
            required
            minlength="8">
          </ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="!c_passwordCtrl.valid && c_passwordCtrl.touched">
          <p class="errorMsg">* Confirm Password must be of minimum 8 characters long.</p>
        </ion-text>
        <ion-text color="danger" *ngIf="c_passwordCtrl.valid && c_passwordCtrl.value !== passwordCtrl.value">
          <p class="errorMsg">* Password Mismatch! You have entered a different password.</p>
        </ion-text>
        
      </div>
      
    </ion-list>

    <ion-button 
      *ngIf="!isLoading" 
      [disabled]="!f1.valid || (c_passwordCtrl.value !== passwordCtrl.value)"
      expand="block" 
      shape="round" 
      type="submit" 
      color="primary">
      SIGN UP
    </ion-button>

    <div class="ion-text-center" *ngIf="isLoading">
      <ion-button 
        shape="round" 
        color="primary" 
        [disabled]="!f1.valid || (c_passwordCtrl.value !== passwordCtrl.value)">
        <ion-spinner name="circles"></ion-spinner>
      </ion-button>
    </div>
    
  </form>

</ion-content>

