.dotStyle {
    border: 1px solid var(--ion-color-success);

}
.dotNonVeg {
    border: 1px solid var(--ion-color-primary);
}

ion-item{
    letter-spacing: 0.5px ;
    ion-text {
        font-size: 0.8rem;
        span {padding: 0 0.1rem 0 0.1rem; //top right bottom left
        margin-right: 2vw;}
    }
ion-label{
    font-size: 0.90rem !important;
    font-weight: bold;
}
ion-row {
    border: 1px solid var(--ion-color-medium);
    border-radius: 2px;
    padding:0.3rem;
    margin-right: 0.9vw;
}

   
}
.quantity {
    width: 2rem;
}
.price {
    width: 4rem;
}