ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
}
.map {
    height: 30vh;
    
}
ion-item{
    align-items: center;
    ion-button{
        span{
            color: var(--ion-color-primary);
        }
    }
    ion-label{
        span{
            font-size: 0.8rem;
        }
    }
}