<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/admin"></ion-back-button>
    </ion-buttons>
    <ion-title>Add Store</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #f1="ngForm" (ngSubmit)="onSubmit(f1)">
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Owner Details</ion-label>
      </ion-list-header>
      <ion-item color="light" class="ion-margin-bottom">
        <ion-icon name="person" slot="start" color="primary"></ion-icon> 
        <ion-input
          type="text"
          name="name"
          ngModel
          #name="ngModel"
          placeholder="Name"
          required>
        </ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="!name.valid && name.touched">
        <p class="errorMsg">* Please enter your name</p>
      </ion-text>

      <ion-item color="light" class="ion-margin-bottom">
        <ion-icon name="mail" slot="start" color="primary"></ion-icon> 
        <ion-input
          type="email"
          name="email"
          ngModel
          email
          #emailCtrl="ngModel"
          placeholder="Email"
          required>
        </ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="!emailCtrl.valid && emailCtrl.touched">
        <p class="errorMsg">* Please enter a valid email address</p>
      </ion-text>

      <ion-item color="light" class="ion-margin-bottom">
        <ion-icon name="call" slot="start" color="primary"></ion-icon> 
        <ion-input
          type="tel"
          name="phone"
          ngModel
          #phone="ngModel"
          placeholder="Phone"
          required
          minlength="10"
          maxlength="10">
        </ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="!phone.valid && phone.touched">
        <p class="errorMsg">* Please enter a valid phone number</p>
      </ion-text>

      <ion-item color="light" class="ion-margin-bottom">
        <ion-icon name="key" slot="start" color="primary"></ion-icon> 
        <ion-input
          type="password"
          name="password"
          ngModel
          #passwordCtrl="ngModel"
          placeholder="Password"
          required
          minlength="8">
        </ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="!passwordCtrl.valid && passwordCtrl.touched" class="ion-text-center">
        <p class="errorMsg">* Password must be of minimum 8 characters long.</p>
      </ion-text>
    </ion-list>

    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Store Details</ion-label>
      </ion-list-header>
      <ion-item color="light" class="ion-margin-bottom">
        <ion-icon name="person" slot="start" color="primary"></ion-icon> 
        <ion-input
          type="text"
          name="storeName"
          ngModel
          #storeName="ngModel"
          placeholder="Store Name"
          required>
        </ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="!storeName.valid && storeName.touched">
        <p class="errorMsg">* Please enter your name</p>
      </ion-text>

      <ion-item color="light" class="ion-margin-bottom">
        <ion-textarea
          type="text"
          name="description"
          ngModel
          #description="ngModel"
          placeholder="Description">
        </ion-textarea>
      </ion-item>      
      
      <ion-item color="light" class="ion-margin-bottom">
        <ion-label>Open Time</ion-label>
        <ion-datetime presentation="time"
          name="openTime"
          ngModel
          #openTime="ngModel"
          required>
        </ion-datetime>
        <ion-text color="danger" *ngIf="!openTime.valid && openTime.touched" class="ion-text-center">
          <p class="errorMsg">* Select Opening Time.</p>
        </ion-text>
      </ion-item>

      <ion-item color="light" class="ion-margin-bottom">
        <ion-label>Close Time</ion-label>
            <ion-datetime presentation="time" name="closeTime"
              ngModel
              #closeTime="ngModel"
              required>
            </ion-datetime>
         <ion-text color="danger" *ngIf="!closeTime.valid && closeTime.touched" class="ion-text-center">
          <p class="errorMsg">* Select Closing Time.</p>
        </ion-text>
        </ion-item>

      <ion-item color="light" class="ion-margin-bottom">
        <ion-label>Select City</ion-label>
        <ion-select
          name="city"
          ngModel
          #city="ngModel"
          required>
          <ion-select-option *ngFor="let city of cities" [value]="city.uid">{{city?.name}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-text color="danger" *ngIf="!openTime.valid && openTime.touched" class="ion-text-center">
        <p class="errorMsg">* Select Opening Time.</p>
      </ion-text>

      <ion-item class="ion-margin-bottom">
        <ion-label>
          Address
          <p class="ion-text-wrap" *ngIf="location && location?.lat">{{location?.address}}</p>
        </ion-label>
        <ion-button color="primary" size="small" (click)="searchLocation()">Search</ion-button>
      </ion-item>

      <ion-item color="light" class="ion-margin-bottom">
        <ion-icon name="cash-outline" slot="start" color="primary"></ion-icon> 
        <ion-input
          type="number"
          name="price"
          ngModel
          #price="ngModel"
          placeholder="Price for Two"
          required>
        </ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="!price.valid && price.touched">
        <p class="errorMsg">* Please enter price for two persons</p>
      </ion-text>

      <ion-item color="light" class="ion-margin-bottom">
        <ion-icon name="time-outline" slot="start" color="primary"></ion-icon> 
        <ion-input
          type="number"
          name="deliveryTime"
          ngModel
          #deliveryTime="ngModel"
          placeholder="Expected Delivery Time"
          required>
        </ion-input>
      </ion-item>
      <ion-text color="danger" *ngIf="!deliveryTime.valid && deliveryTime.touched">
        <p class="errorMsg">* Please enter Expected Delivery Time</p>
      </ion-text>

      <ion-item>
        <h4>Cover Image</h4>
        <input type="file" (change)="preview($event)">
        <p>
          <img *ngIf="coverImage" [src]="coverImage">
        </p>
      </ion-item>

      <ion-item>
        <ion-input name="category" [(ngModel)]="category" placeholder="Enter New Category" type="text"></ion-input>
        <ion-toggle mode="md" color="success" name="isCuisine" [(ngModel)]="isCuisine"></ion-toggle>
      </ion-item>
      <ion-button type="button" size="small" (click)="addCategory()" color="primary">ADD</ion-button>
      <ion-button type="button" size="small" (click)="clearCategory()" color="danger">CLEAR</ion-button>
      <p *ngIf="categories?.length > 0">Categories: {{getArrayAsString(categories)}}</p>      
      <p *ngIf="cuisines?.length > 0">Cuisines: {{getArrayAsString(cuisines)}}</p>

    </ion-list>

    <ion-button 
      *ngIf="!isLoading" 
      [disabled]="!f1.valid"
      expand="block" 
      shape="round" 
      type="submit" 
      color="primary">
      Save
    </ion-button>

    <div class="ion-text-center" *ngIf="isLoading">
      <ion-button 
        shape="round" 
        color="primary" 
        [disabled]="!f1.valid">
        <ion-spinner name="circles"></ion-spinner>
      </ion-button>
    </div>
    
  </form>

</ion-content>
