.time{
    margin-top: 1vh;
}

ion-label{
font-size: 0.84rem;
ion-text{
    ion-icon{
        font-size: 0.6rem;
    }
}
}
ion-note{
    font-size: 0.87rem;
    ion-icon{
        float: right;
        padding-left: 0.2rem;
    }
}
p {
    font-size: 0.8rem;
}

